Repository WavesHQ/walletkit, pull requests merged in 2022-12, with the labels that each got.

#2 feature(setup): setup website
  .idea/inspectionProfiles/Project_Default.xml
  packages/wallet-core/src/api/__snapshots__/network.unit.ts.snap
  packages/wallet-core/src/api/environment.ts
  packages/wallet-core/src/api/environment.unit.ts
  packages/wallet-core/src/api/index.ts
  packages/wallet-core/src/api/network.ts
  packages/wallet-core/src/api/network.unit.ts
  packages/wallet-core/src/index.ts
  packages/wallet-core/src/website/index.ts
Labels: kind/feature

#3 feature(setup): setup website
  package.json
  packages/wallet-core/src/website/index.ts
  pnpm-lock.yaml
Labels: kind/feature

#5 feature(setup): added walletkit-ui
  .github/workflows/ci.yml
  .gitignore
  README.md
  package.json
  packages/wallet-core/README.md
  packages/wallet-core/src/api/environment.unit.ts
  packages/wallet-core/src/api/network.unit.ts
  packages/walletkit-core/README.md
  packages/walletkit-core/package.json
  packages/walletkit-core/src/api/__snapshots__/network.unit.ts.snap
  packages/walletkit-core/src/api/environment.ts
  packages/walletkit-core/src/api/environment.unit.ts
  packages/walletkit-core/src/api/index.ts
  packages/walletkit-core/src/api/network.ts
  packages/walletkit-core/src/api/network.unit.ts
  packages/walletkit-core/src/index.ts
  packages/walletkit-core/src/website/index.ts
  packages/walletkit-core/src/website/website.ts
  packages/walletkit-core/src/website/website.unit.ts
  packages/walletkit-core/tsconfig.build.json
  packages/walletkit-core/tsconfig.json
  packages/walletkit-ui/.eslintrc
  packages/walletkit-ui/README.md
  packages/walletkit-ui/package.json
  packages/walletkit-ui/src/contexts/NetworkContext.tsx
  packages/walletkit-ui/src/contexts/index.ts
  packages/walletkit-ui/src/contexts/logger.ts
  packages/walletkit-ui/src/index.ts
  packages/walletkit-ui/tsconfig.build.json
  packages/walletkit-ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: area/workflow, kind/feature

#8 feature(store): added block, ocean and transaction_queue store
  .npmrc
  package.json
  packages/walletkit-ui/.eslintrc
  packages/walletkit-ui/package.json
  packages/walletkit-ui/src/index.ts
  packages/walletkit-ui/src/store/block.ts
  packages/walletkit-ui/src/store/block.unit.ts
  packages/walletkit-ui/src/store/index.ts
  packages/walletkit-ui/src/store/ocean.ts
  packages/walletkit-ui/src/store/ocean.unit.ts
  packages/walletkit-ui/src/store/transaction_queue.ts
  packages/walletkit-ui/src/store/transaction_queue.unit.ts
  pnpm-lock.yaml
Labels: kind/feature

#6 feature(setup): add WhaleContext inside walletkit-ui
  packages/walletkit-core/src/api/index.ts
  packages/walletkit-core/src/api/whale.ts
  packages/walletkit-core/src/api/whale.unit.ts
  packages/walletkit-ui/src/contexts/WhaleContext.tsx
  packages/walletkit-ui/src/contexts/index.ts
Labels: kind/feature

#11 chore(test): add ui test for whale context provider
  packages/walletkit-ui/package.json
  packages/walletkit-ui/src/contexts/WhaleContext.test.tsx
  packages/walletkit-ui/src/contexts/__snapshots__/WhaleContext.test.tsx.snap
  pnpm-lock.yaml
Labels: kind/chore

#12 feature(store): update to es2019
  package.json
  packages/walletkit-core/package.json
  packages/walletkit-ui/package.json
  packages/walletkit-ui/src/store/block.ts
  packages/walletkit-ui/tsconfig.build.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: kind/feature

#30 feature(context): move ThemeProvider inside walletkit-ui
  packages/walletkit-ui/package.json
  packages/walletkit-ui/src/contexts/ThemeProvider.test.tsx
  packages/walletkit-ui/src/contexts/ThemeProvider.tsx
  packages/walletkit-ui/src/contexts/__snapshots__/ThemeProvider.test.tsx.snap
  packages/walletkit-ui/src/contexts/index.ts
  pnpm-lock.yaml
Labels: kind/feature

#10 feature(provider): add stats provider
  packages/walletkit-ui/src/contexts/StatsProvider.tsx
Labels: kind/feature

#32 feature(walletkit-ui): move `website` and `wallet` store
  packages/walletkit-core/src/api/index.ts
  packages/walletkit-core/src/api/paginatedAPI.ts
  packages/walletkit-core/src/api/paginatedAPI.unit.ts
  packages/walletkit-ui/src/store/index.ts
  packages/walletkit-ui/src/store/wallet.ts
  packages/walletkit-ui/src/store/wallet.unit.ts
  packages/walletkit-ui/src/store/website.ts
Labels: kind/feature

#31 feature(context): move StoreServiceProvider inside walletkit-ui
  packages/walletkit-core/src/api/whale.ts
  packages/walletkit-core/src/api/whale.unit.ts
  packages/walletkit-ui/src/contexts/StoreServiceProvider.tsx
  packages/walletkit-ui/src/contexts/index.ts
Labels: kind/feature

#33 feature(api): add address validator inside walletkit-core
  packages/walletkit-core/src/api/addressValidator.ts
  packages/walletkit-core/src/api/addressValidator.unit.ts
  packages/walletkit-core/src/api/index.ts
Labels: kind/feature

#34 feature(walletkit-ui): setup playground context
  packages/walletkit-core/src/api/index.ts
  packages/walletkit-core/src/api/playground.ts
  packages/walletkit-ui/src/contexts/PlaygroundContext.tsx
  packages/walletkit-ui/src/contexts/index.ts
Labels: kind/feature

#36 feature(walletkit-ui): add language context
  packages/walletkit-ui/package.json
  packages/walletkit-ui/src/contexts/LanguageProvider.test.tsx
  packages/walletkit-ui/src/contexts/LanguageProvider.tsx
  packages/walletkit-ui/src/contexts/__snapshots__/LanguageProvider.test.tsx.snap
  pnpm-lock.yaml
Labels: kind/feature

#38 feature(walletkit-ui): export language provider
  packages/walletkit-ui/src/contexts/index.ts
Labels: kind/feature

#40 chore(test): unskip language provider test
  packages/walletkit-ui/src/contexts/LanguageProvider.test.tsx
Labels: kind/chore

#39 feature(wallet-kit-store): add export DexPricesProps
  packages/walletkit-ui/src/store/wallet.ts
Labels: kind/feature

#41 feature(walletkit-ui): WalletNodeProvider and WalletPersistenceProvider
  packages/walletkit-ui/src/contexts/WalletNodeProvider.tsx
  packages/walletkit-ui/src/contexts/WalletPersistenceContext.tsx
  packages/walletkit-ui/src/contexts/index.ts
Labels: kind/feature

#42 feature(walletkit-ui): StoreProvider
  packages/walletkit-ui/src/contexts/StoreProvider.tsx
Labels: kind/feature

#45 feature(walletkit-ui): userPreferences, loans and DeFiScanContext
  packages/walletkit-ui/src/contexts/DeFiScanContext.tsx
  packages/walletkit-ui/src/contexts/index.ts
  packages/walletkit-ui/src/hooks/index.ts
  packages/walletkit-ui/src/hooks/useCollateralizationRatio.tsx
  packages/walletkit-ui/src/hooks/useVaultStatus.tsx
  packages/walletkit-ui/src/index.ts
  packages/walletkit-ui/src/store/index.ts
  packages/walletkit-ui/src/store/loans.ts
  packages/walletkit-ui/src/store/loans.unit.ts
  packages/walletkit-ui/src/store/types/VaultStatus.ts
  packages/walletkit-ui/src/store/types/index.ts
  packages/walletkit-ui/src/store/userPreferences.ts
Labels: kind/feature

#47 feature(walletkit-ui): add DisplayBalanceContext
  packages/walletkit-ui/src/contexts/DisplayBalanceContext.tsx
  packages/walletkit-ui/src/contexts/index.ts
Labels: kind/feature

#48 feature(core): add ocg feature flag
  packages/walletkit-core/src/website/website.ts
Labels: kind/feature
