Repository WavesHQ/walletkit, pull requests merged in 2023-03, with the labels that each got.

#102 chore(ops): bump updates
  package.json
  packages/walletkit-ui/package.json
  pnpm-lock.yaml
Labels: kind/chore

#111 feature(stab-fee): add poolpairs with stab fee api query
  packages/walletkit-core/src/website/website.ts
  packages/walletkit-ui/src/store/website.ts
Labels: kind/feature

#109 feat(script): refund bot
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  packages/walletkit-bot/package.json
  packages/walletkit-bot/src/api/DeFiChainCore.ts
  packages/walletkit-bot/src/api/RefundBot.ts
  packages/walletkit-bot/src/api/RefundBot.unit.ts
  packages/walletkit-bot/src/api/index.ts
  packages/walletkit-bot/src/index.ts
  packages/walletkit-bot/tsconfig.build.json
  packages/walletkit-bot/tsconfig.json
  pnpm-lock.yaml
Labels: area/workflow, kind/feature

#115 chore(docs): update README.md
  README.md
Labels: kind/chore

#116 chore(walletkit-bot): remove src from walletkit-core import
  packages/walletkit-bot/package.json
  packages/walletkit-bot/src/api/DeFiChainCore.ts
  packages/walletkit-bot/src/api/RefundBot.ts
  pnpm-lock.yaml
Labels: kind/chore
